body
    background-color: red !important
.border-bottom
    border-bottom: 1px solid #d5d5d5
.information
    position: fixed
    left: 17%
    top: 33%
    color: #ffffff
    p
        font-weight: 700
.form
    padding: 3% 4%
    width: 27.4%
    position: fixed
    bottom: 26%
    border-radius: 8%
    right: 10%
    background-color: #ffffff
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.12)
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.12)
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.12)
    .title-form
        color: #707070
    .container-form
        -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.12)
        -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.12)
        box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.12)
    .form-control
        border: none
        border-radius: 0rem
        padding: 5%
        color: #5f5f5f
        width: 100%
        &::placeholder
            color: #d2d2d2
    i
        color: #d2d2d2
        font-size: 1.2rem
        position: absolute
        right: 5%
        top: 30%
    .btn
        width: 100%
        background-color: #2d50de
.footer
    position: fixed
    text-align: center
    width: 100%
    font-size: 0.75rem
    font-weight: 800
    bottom: 0
    color: #999999
    padding: 0.7% 0 
