<div class="logo">
    <div class="logo-img"></div>
    <label for="">OLSoftware</label>
</div>
<nav>
    <ul>
        <li>
            <a href="#"><i class="fa fa-map" aria-hidden="true"></i> Programación</a>
            <ul>
                <li><a href="#">Submenu</a></li>
                <li><a href="#">Submenu</a></li>
                <li><a href="#">Submenu</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="fa fa-list-ul" aria-hidden="true"></i> Gestión de operaciones</a></li>
        <li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i> Perfiles</a></li>
        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Roles</a></li>
        <li><a [routerLink]="['/usuarios']"><i class="fa fa-users" aria-hidden="true"></i> Usuarios</a></li>
        <li><a href="#"><i class="fa fa-address-book" aria-hidden="true"></i> Reportes</a></li>
    </ul>
</nav>
