/* You can add global styles to this file, and also import other style files */
*
    margin: 0
    padding: 0
    text-decoration: none
    list-style: none
body
    position: absolute
    height: 100%
    width: 100%
.minError
    color: red
.control-error
    color: red
.btn-green
    background: linear-gradient(45deg, #89bf45, #689f24)
    color: #ffffff !important
.btn-green-inverse
    border: 1px solid #689f24 !important
    background-color: #ffffff !important
    color: #689f24 !important